.ui.borderless.topmenu.menu {
  background-color: #dbdbdb;
  box-shadow: none;
  padding-left: 250px;
  padding-right: 250px;
}
.ui.one.item {
  background-color: white;
  color: black;
}
.ui.two.item {
  background-color: #b8b8ba;
  color: black;
}
.ui.dropdown.one.item {
  background-color: #0c97bc;
  color: white;
}
.ui.centered.image {
  width: 194px;
  height: 90px;
  padding-top: 15px;
}
.ui.borderless.middlemenu.menu {
  background-color: white;
  box-shadow: none;
  border: none;
}
.ui.text {
  color: #2ba2c0;
  margin: 25px;
}
.ui.centered.one.image {
  width: 940px;
  height: 200px;
}
.ui.centered.two.image {

  width: 940px;
  height: 500px;
}
.ui.blue.label {
  background-color: #2ba2c0;
  font-color: white;
}
.ui.borderless.icon.menu {
  box-shadow: none;
  border-top: 4px solid #f2f2f2;
  border-bottom: 4px solid #f2f2f2;
  border-left: none;
  border-right: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 250px;
  margin-right: 250px;
}

.footer-background {
  padding-left: 250px;
  padding-right: 250px;
}
